html {
  background-color: rgb(31, 39, 32);
}

.app-container {
  background-color: rgb(31, 39, 32);
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app-header {
  color: rgb(185, 218, 255);
}

.open-nav-btn {
  color: rgb(31, 39, 32);
  border-radius: 0.5em;
  width: 4%;
  height: 35%;
}
